body {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    text-shadow: 1px 2px darkgray;
}

.secondary {
    font-size: 12px;
}
.space {
    position:relative; /* Make it stick/fixed */
    top: 500px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
